body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
    background-color: black;
    font-family: "Roboto";
    font-style: normal;
}

.post {
    width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}

.post-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Alinea verticalmente los íconos y el texto */
    padding: 10px;
}

.post-header i:first-child {
    margin-right: 10px; 
}

.post-header p {
    margin: 0;
    color: black;
}

.post-header .header-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.post-header p:first-child {
    font-weight: bold; 
}

.post-header i:last-child {
    margin-left: auto; /* Empuja el ícono de opciones a la derecha */
}

.post-header i {
    font-size: 30px; /* Tamaño de ícono más pequeño */
}


.post-image img {
    width: 100%;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px; 
}

.post-icons i {
    font-size: 30px; /* Tamaño de íconos */
}

.post-icons i:nth-child(1),
.post-icons i:nth-child(2),
.post-icons i:nth-child(3) {
    margin-right: 10px; /* Espacio entre los primeros tres íconos */
}

.post-icons i:last-child {
    margin-left: auto; /* Empuja el ícono de bookmark a la derecha */
}


.post-body {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.post-body p:first-child {
    margin-bottom: 10px; 
}

.post-body p:nth-child(2) {
    margin-top: 10px;
    text-align: justify;
}
